.footer {
  z-index: 2;
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column-reverse;
  justify-content: stretch;

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-container {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    max-height: var(--app-height);
    transition: transform .3s;
    transform: translateY(calc(100% + 100px));

    .container {
      border-radius: 20px 20px 0 0;
      overflow: hidden;
    }

    &::before {
      transition: opacity .3s;
      content: '';
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.75);
    }

    &.__overlay {
      &::before {
        pointer-events: all;
        opacity: 1;
      }
    }

    &.__open {
      transform: translateY(0);
    }
  }

}
