.submission {
  background: #f3f3f3;

  &-top {
    padding: 18px 0;
  }

  &-picker {

    #rolldate-year {
      min-width: 19vw;
    }

    &.__time {

      .rolldate-wrapper {
        position: relative;

        &::before {
          z-index: 10;
          content: ':';
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -8px;
          transform: translate(-50%, -50%);
          font: 700 64px / 24px $SFProDisplay;
          color: #000;
        }

        .picker-cell {
          border-left: 0;
        }

        #rolldate-year,
        #rolldate-month,
        #rolldate-day {
          position: absolute;
          top: 0;
          opacity: 0;
          width: 0;
          pointer-events: none;
          overflow: hidden;
          margin-left: -100vw;
        }
      }
    }

    &.__date {

      .rolldate-wrapper {
        #rolldate-hour,
        #rolldate-min {
          position: absolute;
          top: 0;
          opacity: 0;
          width: 0;
          pointer-events: none;
          overflow: hidden;
          margin-left: -100vw;
        }
      }
    }
  }

  .title {
    color: #000;
  }

  .text {
    color: rgba(0, 0, 0, .5);
  }

  &-date {
    padding: 9px 12px 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .btn {
      border-radius: 8px;
      padding: 8px 12px;
    }
  }

  &-time {
    position: relative;
    min-height: 160px;
  }

  &-confirm {
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 18px 16px 16px;

    .btn {
      border-radius: 8px;
      padding: 15px;
      font: 700 20px/ 24px $SFProDisplay;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

}
